<h2><%= @barber.name %>'s page</h2>
</br>
<h2>Clients:</h2>
<table class="table table-condensed">
  <thead>
    <tr>
   	  <th>Name</th>
   	  <th>Phone</th>
   	  <th>Date and time</th>
   	  <th>Color</th>
    </tr>
  </thead>
  <tbody>
  <% @BarberClients.each do |client| %>
   <tr>
   	  <td><%= client.name %></td>
   	  <td><%= client.phone %></td>
   	  <td><%= client.datestamp %></td>
   	  <td style="background-color: <%= client.color %>"><%= client.color %></td>
   </tr>
  <% end %>
  </tbody>
</table>
